:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --background-color: #F0F2FC;
    --primary-color: #C6CDF3;
    --secondary-color: #919AE4;
    --button-bg-color: #7881DB;
    --button-text-color: #FFFFFF;
    --text-color: #1E1E1E;
    --link-color-light: #3B5998;
}

[data-theme="dark"] {
    --background-color: #2e2e2e;
    --primary-color: #484E87;
    --secondary-color: #676FBE;
    --button-bg-color: #E2E6F9;
    --button-text-color: #4F5678;
    --text-color: #E0E0E0;
    --link-color-dark: #8AB4F8;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

hmtl,
body {
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    max-width: 1092px;
    margin: 0 auto;
    padding: 0 16px;
}

button {
    padding: 0.6rem 1.2rem;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: var(--link-color-light);
}

[data-theme="dark"] a {
    color: var(--link-color-dark);
}

a:hover {
    text-decoration: underline;
}

img,
picture,
svg {
    max-width: 100%;
    height: auto;
}