:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --primary-color-dark-mode: #010102;
    --secondary-color-dark-mode: #484E87;
    --tertiary-color-dark-mode: #676FBE;
    --bg-color-button-light-mode: #E2E6F9;
    --text-color-button-light-mode: #4F5678;
    --text-color-dark-mode: #E0E0E0;

    --primary-color-light-mode: #F0F2FC;
    --secondary-color-light-mode: #C6CDF3;
    --tertiary-color-light-mode: #919AE4;
    --bg-color-button-light-mode: #7881DB;
    --text-color-button-light-mode: #FFFFFF;
    --text-color-light-mode: #1E1E1E;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

hmtl,
body {
    height: 100%;
}

button {
    padding: 0.6rem 1.2rem;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img,
picture,
svg {
    max-width: 100%;
    height: auto;
}