* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #ff0000;
}

body {
    background-color: #000000;
    font-family: "Roboto", sans-serif;
    height: 100%;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

textarea {
    resize: none;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 6.25rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    z-index: 20;
}

@media screen and (max-width: 835px) {
    header {
        flex-direction: column;
        gap: 20px;
    } 
}

.logo img {
    max-width: 60px;
    max-height: 60px;
    filter: invert(1);
    transition: transform 0.5s ease;
}

.logo:hover img {
    transform: rotate(540deg) scale(1.2);
    transition: transform 0.5s ease;
}

.nav .nav-ul {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1108px) {
    .nav .nav-ul {
        flex-direction: column;
        gap: 8px;
    }
}

@media screen and (max-width: 835px) {
    .nav .nav-ul {
        flex-direction: row;
        text-align: center;
        line-height: 1.2;
    }
}

.nav .nav-ul li {
    margin: 0 20px;
}

.nav .nav-ul li a {
    color: #fff; 
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
}

.nav .nav-ul li:hover a {
    color: var(--primary);
}

.search { 
    transition: 0.5s;
    position: relative;
}

.search .fa-magnifying-glass {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
}

.search:hover {
    width: 300px;
}

.search input { 
    width: 100%;
    padding: 0.6rem 1.2rem;
    color: #ffffff;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    border-radius: 4px;
}

.search input:focus {
    outline: 3px solid #fff;
    border-color: transparent;
}

.search input::placeholder {
    color: #ffffff;
    text-transform: uppercase;
    transform: translateX(5px);
    font-weight: 300;
}

.swiper {
    width: 100%;
    height: 100vh;
}

.swiper .swiper-wrapper {
    width: 100%;
    height: 100%;
}

.swiper .swiper-wrapper .swiper-slide {
    width: 100%;
    height: auto;
    position: relative;
}

.swiper .swiper-wrapper .swiper-slide::before {
    position: absolute;
    content: "";
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.swiper .swiper-wrapper .swiper-slide .swiper-img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
    object-position: center;
}

.swiper .swiper-wrapper .swiper-slide .banner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    /*border: 1px solid red;*/
    padding: 5.75rem 6.25rem;
}

@media screen and (max-width: 835px) {
    .swiper .swiper-wrapper .swiper-slide .banner {
        padding: 18rem 6.25rem;
    }
}

.swiper .swiper-wrapper .swiper-slide .banner .box {
    flex: 1 1 calc(50% - 10px);
    z-index: 1;
    padding-top: 2rem;
}

.swiper .swiper-wrapper .swiper-slide .banner .banner-img {
    position: absolute;
    max-width: 760px;
    width: 760px;
    height: 760px;
    object-fit: cover;
    transform: translateX(-50%);
    left: 50%;
}

.swiper .swiper-button-prev {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 60%;
    z-index: 100;
    background-color: red;
}

.swiper .swiper-button-next {
    position: absolute;
    right: 70%;
    top: 50%;
    width: 60px;
    height: 60px;
    z-index: 100;
    background-color: blue;
}

.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 60px;
    line-height: 0;
    background: transparent;
    border-radius: 50%;
}

@media screen and (max-width: 975px) {
    .banner {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .banner .banner-img {
        display: none;
    }

    .swiper {
        height: auto;
    }

    .banner .left {
        margin-bottom: 4rem;
    }
}

.banner .left {
    margin-right: 5px;
}
.banner .right {
    margin-left: 5px;
}

/*.icons-options {}*/

.icons-options .fa-envelope {
    color: #fff;
    font-size: 2.8rem;
    cursor: pointer;
}

.box .box-content {
    /*border: 1px solid red;*/
    overflow: visible;
}

.box .box-content .content {
    padding-left: 20px;
    color: #fff;
}

.box .box-content .content .subtitle {
    display: block;
    color: red !important;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.box .box-content .content h4 {
    text-transform: uppercase;
}

.box .box-content .rating {
    /*border: 1px solid red;*/
    display: flex;
    margin-bottom: 40px;
}

.box .box-content .box-content-info-item {
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box .box-content .rating .box-content-info-item .score {
    color: red;
    font-size: 2.2em;
}

.box .box-content .pricing {
    display: flex;
    margin-bottom: 5rem;
}

.box .box-content .pricing .box-content-info-item {
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box .box-content .pricing .box-content-info-item .fa-solid {
    color: #fff;
    font-size: 2.2em;
}

.banner h2 {
    color: #fff;
    font-size: 3.6em;
}

@media screen and (max-width: 470px) {
    .banner h2 {
        font-size: 2.2em;
        word-wrap: break-word;
    }
}

.banner .trailer-title {
    text-transform: uppercase;
    margin: 1rem 0;
}

.right .description .fa-circle-check,
.right .description .description-title,
.right .description p {
    color: #fff;
}

.right .description .description-content {
    display: flex;
}

.right .description .description-title {
    text-transform: uppercase;
    margin-bottom: 8px;
    display: block;
    margin-left: 10px;
}

.right .description p {
    margin-left: 25px;
    margin-bottom: 25px;
}

@media screen and (max-width: 720px) {
    iframe {
        width: 372px;
        height: 240px;
    }

    .banner .left .image-title {
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 580px) {
    iframe {
        width: 256px;
        height: 192px;
    }
}

.trailer-link {
    display: none;
    color: #fff;
    font-size: 1.8em;
}

.trailer-link a {
    color: #0071E3;
}

@media screen and (max-width: 470px) {
    iframe {
        display: none;
    }

    .trailer-link {
        display: block;
    }

    .box .box-content .rating,
    .box .box-content .pricing {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .box .box-content .content {
        padding-left: 0;
    }

    .box .box-content .box-content-info-item {
        margin-bottom: 15px;
    }
}

/*LOGIN MODAL*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0s, visibility 0.3s;
    z-index: 1000;
}

.modal.showModal {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    width: 500px;
    height: 400px;
    border-radius: 8px;
    /* https://smoothshadows.com/#djEsMSw1LDAuMDgsMjQsMzIsMCwjMDMwNzEyLCNmM2Y0ZjYsI2ZmZmZmZiwy */
    box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
        0px 5px 4px rgba(3, 7, 18, 0.03),
        0px 12px 9px rgba(3, 7, 18, 0.05),
        0px 20px 15px rgba(3, 7, 18, 0.06),
        0px 32px 24px rgba(3, 7, 18, 0.08);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem; 
    position: relative;
}

.btn-open-modal {
    padding: 0.6rem 1.2rem;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
}

.btn-close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: transparent;
}
.btn-close-modal:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.login-form {
    width: 100%;
}

.login-form h3 {
    text-align: center;
    margin-bottom: 35px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    font-size: 1.2em;
    padding: 0.6rem;
}

/*Message Modal*/
.send-message-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0s, visibility 0.3s;
    z-index: 1000;
}

.send-message-modal.showModal {
    visibility: visible;
    opacity: 1;
}

.modal-content-envelope {
    width: 500px;
    height: 400px;
    border-radius: 8px;
    /* https://smoothshadows.com/#djEsMSw1LDAuMDgsMjQsMzIsMCwjMDMwNzEyLCNmM2Y0ZjYsI2ZmZmZmZiwy */
    box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
        0px 5px 4px rgba(3, 7, 18, 0.03),
        0px 12px 9px rgba(3, 7, 18, 0.05),
        0px 20px 15px rgba(3, 7, 18, 0.06),
        0px 32px 24px rgba(3, 7, 18, 0.08);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem; 
    position: relative;
}

.button-form {
    padding: 0.6rem 1.2rem;
}
