:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

h1, h2, h3, p {
    overflow-wrap: break-word;
}

button {
    cursor: pointer;
    padding: 0.6rem 1.2rem;
}

img, video, svg {
    max-width: 100%;
    height: auto;
}
