:root {
    --primary-color: #ffffff;
    --secondary-color: #f9faf9;
    --tertiary-color: #ecefec;
    --black-color: #0d0c22;
    --green-color: #24f355;

    background-color: var(--primary-color);
    color: var(--black-color);

    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    max-width: 1280px;
    margin: 0 auto;
}

*, *::before, *::after {
    box-sizing: border-box; 
}

* {
    margin: 0;
    padding: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

ul[role="list"] {
    list-style: none;
    padding-left: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    user-select: none;
}

ul li span.checked {
    background-color: #77d27e;
    color: #2a8532;
    text-decoration: line-through;
}

ul li span.checked:before {
    content: "";
    position: absolute;
    border-width: 0 2px 2px 0;
    border-color: #000;
    border-style: solid;
    width: 5px;
    height: 15px;
    top: 15px;
    left: -15px;
    transform: rotate(45deg);
}
