.header {
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.header-user-profile-info {
    display: flex;
    align-items: center;
}

.header-user-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-navigation {
    display: flex;
    gap: 20px;
}