.breadcrumbs-container {
    margin-bottom: 64px;
}

.breadcrumbs-wrapper {
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);

    width: 100vw;
    position: relative;
    left: 50%;
    right: -50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 0.4rem 1rem;
}

.breadcrumbs-margin-right {
    display: inline-block;
    margin-right: 8px;
    color: var(--primary-color);
    text-decoration: none;
    /* font-weight: bold; */
}

.breadcrumbs-margin-right::after {
    content: ">";
    margin-left: 8px;
    color: var(--primary-color);
}

.breadcrumbs-margin-right:last-child::after {
    /* Remove o separador do último item */
    content: "";
}