.product {
    display: flex;
    background-color: var(--primary-color);
    border: 1px solid #555;
    justify-content: space-around;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 1rem;
    gap: 1rem;
}

.product-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.product img {
    height: 300px;
    border-radius: 16px;
    padding: 0.4rem;
}

.loading-more-products {
    color: var(--secondary-color);
    padding: 1rem;
    font-size: 1.2em;
    text-align: center;
}

@media (max-width: 730px) {
    .product {
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
    }

    .product img {
        height: 200px;
        width: auto;
    }

    .product-info {
        align-items: center;
    }

    .loading-more-products {
        font-size: 1em;
    }
}